.display-section {
    display: grid;
    background-color: black;
    max-width: 90vw;
    height: 60vh;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: .3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    .audio-entity {
        width: 100%;
        min-height: 10rem;
        max-height: 20rem;
        background-color: white;
        
    }
    audio {
        width: 100%;
        min-width: 25rem;
        background-color: white;
    }
    .audio-icon {
        display: block;
        font-size: 5rem;
        text-align: center;
        padding: 1rem;
    }
}
