.filter-section {
    height: 15vh;
    min-height: 10rem;
}

.search-bar-wrapper {
    height: 40%;
    width: 80%;
    max-width: 60rem;
    margin:auto;
    .search-input {
        min-height: 5rem;
        height: 100%;
        width: 100%;
        font-size: xx-large;
        text-align: center;
        padding: 1rem;
    }
}

.search-selection-bar {
    height: 60%;
    width: 80%;
    max-width: 60rem;
    margin: auto;
}

.search-category-tab {
    height: 100%;
    width: 25%;
    float: left;
}

.search-category {
    height: 100%;
    padding: 2rem;
    text-align: center;
    font-size: small;
    background-color: gray;
}

.search-category:hover, .search-category:active {
    background-color: rgb(38, 35, 41);
    color: white;
    font-size: large;
}

.activecategory {
    background-color: rgb(7, 5, 12);
    color: white;
    font-size: large;
}
