<div class="display-section" *ngIf="displayComponent">
    <div class="image-entity" *ngFor="let mediaKeyValue of imageFiles">
        <div class="file-name">{{mediaKeyValue[1].filename}}</div>
        <a [href]="getMediaFileUri(mediaKeyValue[1]._id)" download>
            <img [src]="getMediaFileUri(mediaKeyValue[1]._id)" [alt]="mediaKeyValue[1].filename">
        </a>
        <div class="file-upload-date">{{mediaKeyValue[1].uploadDate}}</div>
        <div class="file-delete-icon" (click)="onDeleteRequest(mediaKeyValue[1]._id)"><i class="fas fa-trash-alt"></i></div>
    </div>
</div>
