* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    min-height: 100vh;
    font-size: 62.5%;
}

body {
    overflow-y: scroll;
}

.header {
    height: 10vh;
}

.footer {
    height: 10vh;
}

.display-section {
    height: 60vh;
    overflow-y: scroll;
}

.file-name {
    background-color: black;
    color: white;
    font-size: small;
    font-family: cursive;
    padding: 1rem;
    height: 20%;
}

.file-upload-date {
    background-color:white;
    color:black;
    font-size: small;
    float: left;
    padding: .1rem;
}

.file-delete-icon {
    padding: .2rem;
    float: right;
    background-color: white;
    i {
        font-size: 2rem;
        color: black;
        text-align: center;
    }
}

.file-delete-icon:hover {
    i {
        font-size: 2rem;
        color: red;
        text-align: center;
    }
}

.no-record-default {
    color: white;
    font-size: medium;
    width: 100%;
    p {
        display: block;
    }
}

h2 {
    font-size: medium;
    display: block;
    width: 90vw;
    margin: auto;
    padding: 1rem;
    margin-top: 2rem;
}